/*user.css
Custom Dark theme for Stable Diffusion WebUI 
Original Style.css Edit

* @Version: alpha-v1.2
* @Author: Nacurutu
* @Last Modified: 2022-12-28


/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

/*THEME VARIABLES*/
:root, * , quickcss_target{
    --primary_color: #ff205f;
    --secondary_color: #a3133c;
    --input_text_color: #65f6ae; 
    --input_text_color_focus: #FFFFFF;  
    --background_color: #000;
    --border_app_color: #a7abb1; 
    --checked_text: #DE73FF;
    /*ENDCOLORPICKERS*/
    --radius : 4;
    /*BREAKFILEREADER*/
    --Logo: url('file=logo.png');
}
    

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/


/*================================================ */
/* Changes */
/*================================================ */



/* Import font */
/*----------------------------------------------------------------*/
@font-face {
    font-family: 'Source Code Pro', monospace !important;
    src: url('SourceCodePro-Regular.otf') !important;
}

/*Css hide Gradio animations*/
/*----------------------------------------------------------------*/
.dark .wrap .m-12 svg, 
.dark .wrap .z-20 svg, 
.dark .wrap .m-12 svg, 
.dark .wrap .z-20 svg, 
.dark .meta-text-center, 
.dark .meta-text { 
    display:none !important;
}

.dark .wrap .m-12::before, 
.dark .wrap .z-20::before { 
    content:"Loading..." !important;
    color: var(--input_text_color_focus) !important;
}
 
/*Gradio Progrees bar color change*/
/*----------------------------------------------------------------*/
.dark .progress-bar { 
    background: var(--primary_color) !important;
    border-width: 1px !important;
    border-color: var(--input_text_color_focus) !important;
    color: var(--input_text_color_focus) !important;
} 

/* Tabs font size */
/*----------------------------------------------------------------*/
#tabs > div:first-of-type button {
    font-size: 90% !important;
}

/* UI border radius*/
/*----------------------------------------------------------------*/
* {
    border-radius: calc(1px *var(--radius)) !important;
}

/* UI Changes */
/*----------------------------------------------------------------*/

.dark,
.dark\:bg-gray-900, 
.dark .gr-button-primary, 
.dark .dark\:text-gray-200, 
.dark .text-gray-700, 
.dark .text-gray-800, 
.dark .text-gray-900, 
.dark .\!text-gray-700, 
.dark .\!text-gray-800 {
    color: calc(0px * var(--border_app_color)) !important;
}

.dark .gr-input {
    font-family: 'Source Code Pro', monospace !important;
    font: 'Source Code Pro' !important;
    color: var(--input_text_color) !important;
}

.dark .gr-input:focus, 
.dark .gr-input:hover  {
    color: var(--input_text_color_focus)!important;
    background-color: var(--secondary_color)!important;
    border-color: var(--input_text_color_focus)!important;
    transition: all 0.3s ease-out;
}

.dark .gr-input::selection {
    color: var(--input_text_color_focus)!important;
    background-color: var(--background_color)!important;
}

.dark, 
.dark .gr-button, 
.dark .bg-white, 
.dark .gr-panel, 
.dark .gr-button-lg, 
.dark .gr-box, 
.dark .dark\:bg-gray-700, 
.dark .dark\:bg-gray-950,
.dark fieldset span.text-gray-500, 
.dark .gr-block.gr-box span.text-gray-500,
.dark label.block span {
    background-color: var(--background_color) !important;
}

.dark .gr-input-label, 
.dark .gr-button {
    background-image:  none !important;
}

.dark .gr-check-radio:checked, 
.dark gr-check-radio gr-checkbox {
    background-color: var(--primary_color) !important;
}

#txt2img_gallery, 
#img2img_gallery {
    border-radius: 0px !important;
    background-image: var(--Logo) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}   

#modelmerger_merge, 
#deforum_generate, 
#depthmap_generate, 
#vxa_gen_btn {
    border-color: var(--primary_color) !important;
}

#txt2img_gallery svg, 
#img2img_gallery svg {
    display: none !important;
}

.dark .gr-input-label:hover {
    border-color: var(--secondary_color)!important;
    color: var(--input_text_color_focus)!important;
    transition: all 0.3s ease-out;

    animation: pulse3 0.5s;
      -webkit-animation: pulse3 0.5s;
      -moz-animation: pulse3 0.5s;
      -o-animation: pulse3 0.5s;
      box-shadow: 0 0 0 0.5em transparent;
    }
      @keyframes pulse3 {
        0% { box-shadow: 0 0 0 0 var(--secondary_color); }
  }

/* Generation progress bar color */
/*----------------------------------------------------------------*/

.dark .progressDiv .progress {
    font-family: 'Source Code Pro', monospace !important;
    font: 'Source Code Pro'!important;
    background: var(--primary_color) !important;
    color: var(--input_text_color_focus)!important;
    font-weight: bold !important;
    line-height: 20px !important;
    text-align: right !important;
}

/* Buttons */
/*----------------------------------------------------------------*/

#txt2img_interrupt, 
#img2img_interrupt, 
#txt2img_skip, 
#img2img_skip {
    background: var(--background_color) !important;
}
  
#txt2img_interrupt:hover, 
#img2img_interrupt:hover, 
#txt2img_skip:hover, 
#img2img_skip:hover {
    background: var(--secondary_color) !important;
    color: var(--input_text_color_focus) !important;
    transition: all 0.5s ease-out !important;
    
}

.dark .gr-button-primary  {
    font-family: 'Source Code Pro', monospace !important;
    font: 'Source Code Pro' !important;
    text-transform: uppercase;
    border-color: var(--primary_color) !important;
    border-width: 3px !important;
    background-image: var(--Logo) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    color: var(--border_app_color) !important;
}

.dark .gr-button-primary:hover {
    border-color: var(--input_text_color_focus)!important;
    border-width: 3px !important;
    background-color: var(--primary_color) !important;
    color: var(--input_text_color_focus) !important;
    transition: all 0.5s ease-out !important;
        
}

.dark .gr-button-secondary {
    font-family: 'Source Code Pro', monospace !important;
    font: 'Source Code Pro' !important;
    border-color: var(--secondary_color) !important;
    border-width: 1px !important;
    color: var(--border_app_color) !important;
}

.dark .gr-button-secondary:hover {
    border-color: var(--input_text_color_focus)!important;
    border-width: 1px !important;
    background-color: var(--secondary_color)!important;
    color: var(--input_text_color_focus) !important;
    transition: all 0.5s ease-out !important;
    
    animation: pulse2 0.5s;
    -webkit-animation: pulse2 0.5s;
    -moz-animation: pulse2 0.5s;
    -o-animation: pulse2 0.5s;
    box-shadow: 0 0 0 0.5em transparent;
    }
    
    @keyframes pulse2 {
      0% { box-shadow: 0 0 0 0 var(--input_text_color_focus); }
}

/* Generation buttons pulse effect */
/*----------------------------------------------------------------*/
#txt2img_generate, #img2img_generate {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: bold
}
    
#txt2img_generate:hover, #img2img_generate:hover {
    animation: pulse 0.5s;
    -webkit-animation: pulse 0.5s;
    -moz-animation: pulse 0.5s;
    -o-animation: pulse 0.5s;
    box-shadow: 0 0 0 2em transparent;
}
    
    @keyframes pulse {
      0% { box-shadow: 0 0 0 0 var(--primary_color) }
}

/* gradio 3.4.1 stuff for editable scrollbar values */
/*----------------------------------------------------------------*/
.dark .gr-box > div > div > input.gr-text-input{
    position: absolute !important;
    right: 0.5em !important;
    top: -0.6em !important;
    z-index: 200 !important;
    width: 8em !important;
    border-color: var(--secondary_color) !important;
}

.dark .gr-box > div > div > input.gr-text-input:hover, 
.dark .gr-box > div > div > input.gr-text-input:focus{
    border-color: var(--input_text_color_focus) !important;
}

/* Gallery */
/*----------------------------------------------------------------*/
#gallery_item {
    border-width: 1px !important;
    background-image: var(--Logo)!important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.dark .gallery-item.svelte-1g9btlg.svelte-1g9btlg {
    --tw-ring-color: var(--primary_color)!important;
}

.dark .dark\:bg-gray-900 {
    background-image: var(--Logo)!important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    --tw-bg-opacity: 1 !important;
    background-color: var(--background_color) !important;
}

/* Context menu */
/*----------------------------------------------------------------*/
#context-menu {
    font-family: 'Source Code Pro', monospace !important;
    font: 'Source Code Pro'!important;
    border-color: var(--primary_color)!important;
    box-shadow: 1px 1px 2px var(--primary_color) !important;
}

.context-menu-items a:hover {
    background: var(--secondary_color) !important;
    color: var(--input_text_color_focus) !important;
    box-shadow: 1px 1px 2px var(--secondary_color) !important;
    transition: all 0.3s ease-out;
}


/*-------------------------------------*/
/*---------------Sliders-------------- */
/*-------------------------------------*/

.gradio-container input[type=range] {
    -webkit-appearance: none !important;
    appearance: none;
    background: transparent !important;
}

.gradio-container input[type=range]:focus {
    outline: none !important;
}

.gradio-container input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer !important;
    height: 6px !important;
    border-radius: 3px !important;
    background:  var(--border_app_color) !important;
}

.gradio-container input[type=range]:hover::-webkit-slider-runnable-track {
    background-image: linear-gradient(90deg, var(--border_app_color), var(--primary_color))!important;
    background-repeat: no-repeat!important;
}

.gradio-container input[type=range]::-moz-range-track {
    cursor: pointer !important;
    height: 6px !important;
    border-radius: 3px !important;
    background:  var(--primary_color) !important;
}

.gradio-container input[type=range]:hover::-moz-range-track {
    background: var(--secondary_color) !important;
}

.gradio-container input[type=range]::-ms-fill-upper,
.gradio-container input[type=range]::-ms-fill-lower {
    cursor: pointer !important;
    height: 6px !important;
    border-radius: 3px !important;
    background:   var(--primary_color) !important;
}

.gradio-container input[type=range]:hover::-ms-fill-upper,
.gradio-container input[type=range]:hover::-ms-fill-lower {
    background:   var(--secondary_color) !important;
}

.gradio-container input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 3px var(--border_app_color) !important;
    border: 2px solid var(--border_app_color) !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 16px !important;
    background:   var(--primary_color) !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    margin-top: -5px !important;
}

.gradio-container input[type=range]:active::-webkit-slider-thumb {
    background:   var(--secondary_color) !important;
}

.gradio-container input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 3px var(--border_app_color) !important;
    border: 2px solid  var(--border_app_color) !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 16px !important;
    background:   var(--primary_color) !important;
    cursor: pointer !important;
    margin-top: -5px !important;
}

.gradio-container input[type=range]:active::-moz-range-thumb {
    background:   var(--secondary_color) !important;
}

.gradio-container input[type=range]::-ms-thumb {
    box-shadow: 0 0 3px var(--border_app_color) !important;
    border: 2px solid  var(--border_app_color) !important;
    height: 16px !important;
    width: 16px !important;
    border-radius: 16px !important;
    background:   var(--primary_color) !important;
    cursor: pointer !important;
    margin-top: -5px !important;
}

.gradio-container input[type=range]:active::-ms-thumb {
    background:   var(--secondary_color) !important;
}

#hidden{
    visibility: hidden;
}
input[type=checkbox]:checked + span, input[type=radio]:checked + span {
    color: var(--checked_text);
}

#quickcss_colorpicker {
    /*Demo use of slider values*/
    max-width: 10vw;
    border-radius: calc(1px * var(--radius))!important;
}

input[type=color] {
    width: 100%;
}
